@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color:#084B83;
  --black-color:#080708;
  --main-font: "Space Grotesk", sans-serif;

  --width-bullet: 30px !important;
  --height-bullet: 30px !important;
  --bg-bullet: rgb(196, 18, 18) !important;
  
 --swiper-pagination-bullet-size: 16px !important;
  


}

a,p,h1,h2,h3, label, input[type="text"] {
   font-family: "Space Grotesk", sans-serif;
   
}

@theme {
  --color-blackmain: #080708;
  --color-mainblue: #316998;
  --color-main: #084B83;
  --color-btn: #084B83;
  --color-mainyellow: #F6C15A;
  --color-hmainyellow:#F8D184;
  --font-fam-parag: font-family: "Space Grotesk", sans-serif;
  --font-fam-main: font-family: "Space Grotesk", sans-serif; 
  --font-famain: font-family: "Space Grotesk", sans-serif;
  --font-title: "Unbounded", sans-serif;
  --text-color-subparag: #535353;
  --text-color-parag: #080708;

}

.btn-text {
    font-family: var(--main-font);
}

@layer components {
  .btn-primary {
    @apply flex justify-center w-[80%] md:w-fit items-center py-2.5 px-2 md:px-5 bg-main font-fam-parag text-white rounded-[6px] hover:bg-mainblue
  }

  .btn-secondary {
    @apply flex justify-center w-[80%] md:w-fit items-center py-2.5 px-2 md:px-5 bg-transparent border border-white font-fam-parag text-white rounded-[6px]
  }
}


.megatitle {
  font-family: "Unbounded", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination-bullet {
  width: var(--widht-bullet);
  height: var(--height-bullet);
  background: var(--bg-bullet);
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  width: var(--widht-bullet);
  height: var(--height-bullet);
  background: var(--color-mainblue) !important;
  opacity: 1 !important;
}



